html, body {
  height: 100%;
}
.top-bar .nav {
  text-align:center;
}

.top-bar-links {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  color: white;
  font-family: 'Righteous', cursive;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.top-bar-links:hover {
  text-decoration: none;
  color: #185E99;
}

.center-block {
  height: 30%;

}

#title {
  top:0;
  position:relative;
  width: 400px;
  height: 160px;
  margin: 30% auto 0 auto;
}
@media (max-width: 1250px) {
  #title {
    margin: auto;
    top: 300px;
  }
}

#title-svg {
  width: 400px;
  height: 160px;
}

.title {
        stroke:#FFF;
        fill:#FFF;
        fill-opacity: 0;
        stroke-width: 1.5;
        stroke-dasharray: 500;
                stroke-dashoffset: 500;
        animation: draw 1s linear forwards;
        -webkit-animation: draw 2s linear forwards;
        -moz-animation: draw 2s linear forwards;
        -o-animation: draw 2s linear forwards;
        font-weight: bold;
        font-family: Amatic SC;
        -inkscape-font-specification: Amatic SC Bold
        }
        @keyframes draw {
        to {
            stroke-dashoffset: 0;
            fill-opacity: 1;
            }
        }
        @-webkit-keyframes draw {
        to {
            stroke-dashoffset: 0;
            }
        }

        @-moz-keyframes draw {
        to {
            stroke-dashoffset: 0;
            }
        }
        @-o-keyframes draw {
        to {
            stroke-dashoffset: 0;
            }
        }

.title-text {
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  fill: white;
}

.jumbotron {
  background: url(../Assets/background-image.jpg);
  background-size: cover;
  height: 100%;
}
