body {
  font-family: 'Montserrat', sans-serif;
}
.navbar {
    background-color: #333;
    border-color: #ed9317;
}
.navbar .navbar-brand {
    color: #FFF;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ed9317;
}
.navbar .navbar-nav > li > a {
    color: #FFF;
    text-align: center;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus  {
    color: #ed9317;
}
.navbar .navbar-nav > .active > a {
  color: #FFF;
}
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #ed9317;
}
.navbar-social-buttons {
  padding-top: 50px;
}
.jumbotron {
  position: relative;
   background-color: #185E99;
   height: 50%;
   text-align: center;
   padding-top: 6%;
}
.jumbotron h1{
  color: #FFFFFF;
  font-size: 50;
}
.jumbotron p{
  color: #FFFFFF;
}
.jumbotron button{
  color: #FFFFFF;
  font-size: 50;
}
.btn-custom {
  background-color: hsl(36, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00));
  background-image: -moz-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -ms-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00));
  background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -o-linear-gradient(top, #ffad32, #cc7a00);
  background-image: linear-gradient(#ffad32, #cc7a00);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}
.btn-custom:hover {
  color: #555 !important;
}
